# Electron/Node.js
node_modules/
dist/
*.log

# Environment
.env
.env.*

# System Files
.DS_Store
Thumbs.db

# Build output
out/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories
.idea/
.vscode/
*.swp
*.swo

# Application specific
resources/app.asar
